<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                {% if g.user %}
                <li><a href=" {{url_for('home.home')}} ">Logout</a></li>
                {% else %}
                <li><a href=" {{url_for('auth.login')}} ">Login</a></li>
                <li><a href=" {{url_for('auth.register')}} ">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}{% endblock %}

    </div>

        
    
</body>
</html>